*{
    font-family: Arial;
    padding: 0;
    margin: 0;
    text-align: start;
    box-sizing: border-box;
    color: black;
    justify-content: space-between;
    li {
        justify-content: space-around;
        text-align: center;

    }
    

}

h1 {
    border: 2px;
    color: blue;
    font-family: fantasy;
    text-align: center;
    font-size: xx-large;
}

nav {

}
